extends ../contentlayout

block page_content
  form(action="/books/#{book[0].book_id}" method="POST")
    include ../includes/errors
    include ../includes/bookform
    p
      input(type="submit" value="EDIT BOOK")
