ul
  li
    a(href="/authors")
      img(src='https://placebear.com/50/50' width='50' height='50')
      p Authors

  li
    a(href="/books")
      img(src='https://placebear.com/50/50' width='50' height='50')
      p Books
