ul
  li
    a(href="/authors")
      img(src="https://placebear.com/75/75" width="75" height="75")
      p Authors
  li
    a(href="/books")
      img(src="https://placebear.com/75/75" width="75" height="75")
      p Books
