extends layout

block content
  #main
    .monster
      img(src='https://placebear.com/400/300' width='400' height='300')
      p authors
    .monster
      img(src='https://placebear.com/400/300' width='400' height='300')
      p books
