extends layout

block content
  #main
    .monster
      a(href='/authors')
        img(src='https://placebear.com/400/300' width='400' height='300')
        p Authors
    .monster
      a(href='/books')
        img(src='https://placebear.com/400/300' width='400' height='300')
        p Books
