doctype html
html
  head
    title Galvanize Reads
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      img(src='/images/logo.jpg' width='50', height='50')
      h1 Galvanize Reads
    block content
