extends ../contentlayout

block page_content
  form(action="/authors/#{author.id}" method="POST")
    include ../includes/errors
    include ../includes/authorform
    p
      input(type="submit" value="EDIT AUTHOR")
